* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E8E8E8;
    margin: 0;
}

.content {
    width: 100%;
    min-height: 100vh;
    padding: 2rem;
    background-color: #fff;
}